body { padding-top: 70px; }

a:hover, a:hover [class^="icon-"], .navbar-nav > li > a:hover {
  color: yellow;
}

a {
  color: #F55B2C;
}
.navbar-brand {
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 48px;
  color: #fff;
}

.res-head {
  color: #F55B2C;
  margin-bottom: 0;
}

.navbar .icon-large {
  color: #DEDEDE;
}

.panel-heading li {
  list-style-type: none;
  font-size: 21px;
}

.panel-body {
  margin-bottom: -4px;
}

.brunchover {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 32px;
  text-decoration: none;
  text-shadow: 4px 4px 1px rgba(0,0,0,0.15);
}

.luckypots {
 font-size: 32px;
 font-family: 'Oleo Script Swash Caps', cursive;
 color: white;
 letter-spacing: 2px;
 text-shadow: 4px 4px 1px rgba(0,0,0,0.15);
}

.mychillpill {
  color: white;
  font-size: 28px;
  text-shadow: 4px 4px 1px rgba(0,0,0,0.15);
  font-family: 'Fredoka One', cursive;
}

.navbar-nav > li > a {
  font-size: 19px;
  color: #ebebeb;
}

.orangeme {
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}

#carouselBrunchover {
  margin-bottom: 20px;
}

#carouselMyChillPill {
  margin-bottom: 20px;
}

